.tv_container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 4vw;
  opacity: 0.8;
  text-shadow: 0px 0px 0.3em #ffffffda, 0px 0px 0.15em #ffffffda;
  mix-blend-mode: screen;
  font-size: 2rem;
  line-height: 5rem;
  padding-top: 100px;
}
